package app

import (
	"github.com/volatiletech/abcweb/abcconfig"
	{{if not .NoSessions -}}
	"github.com/volatiletech/abcsessions"
	{{- end}}
	"github.com/volatiletech/abcrender"
	"github.com/pressly/chi"
	"github.com/spf13/cobra"
	"go.uber.org/zap"
)

// State is the configuration state for the entire app.
// The controllers are passed variables from this object when initialized.
type State struct {
	AppConfig *abcconfig.AppConfig
	Log		 *zap.Logger
	Router	 *chi.Mux
	Render	 abcrender.Renderer
	Root		 *cobra.Command
	{{if not .NoSessions -}}
	Session abcsessions.Overseer
	{{- end}}
}

// NewAppState returns an initialized app State object
func NewAppState() *State {
	return &State{
		AppConfig: abcconfig.NewAppConfig(),
	}
}
