package app

import (
	"go.uber.org/zap"
	"go.uber.org/zap/zapcore"
)

// InitLogger initializes a zap logger
func (s *State) InitLogger() {
	var err error
	var cfg zap.Config

	// JSON logging for production. Should be coupled with a log analyzer
	// like newrelic, elk, logstash etc.
	if s.AppConfig.ProdLogger {
		cfg = zap.NewProductionConfig()
	} else { // Enable colored logging
		cfg = zap.NewDevelopmentConfig()
		cfg.EncoderConfig.EncodeLevel = zapcore.CapitalColorLevelEncoder
	}

	// Change the log output from os.Stderr to os.Stdout to prevent
	// the abcweb dev command from displaying duplicate lines
	cfg.OutputPaths[0] = "stdout"

	s.Log, err = cfg.Build()
	if err != nil {
		panic("cannot initialize production logger")
	}
}
