package app

import (
	"testing"
)

func TestInitLogger(t *testing.T) {
	t.Parallel()

	state := &State{}
	state.AppConfig = &abcconfig.AppConfig{}

	state.AppConfig.ProdLogger = true

	state.InitLogger()
	if state.Log == nil {
		t.Fatal("expected logger to be initialized")
	}

	state.AppConfig.ProdLogger = false
	// reset logger so we can recheck for nil
	state.Log = nil

	state.InitLogger()
	if state.Log == nil {
		t.Fatal("expected logger to be initialized")
	}
}
