package app

import (
	"html/template"

	"{{.ImportPath}}/rendering"
	"github.com/unrolled/render"
)

// appHelpers is a map of the template helper functions.
// Assign the template helper funcs in here, example:
// "toUpper": strings.ToUpper
var appHelpers = template.FuncMap{}

// InitRenderer initializes the renderer using the app configuration.
// If you need to use multiple renderers, you can add more Renderer
// variables to your State object and initialize them here.
func (s *State) InitRenderer() {
	s.Render = &rendering.Render{
		Render: render.New(render.Options{
			Directory:     s.Config.Templates,
			Layout:        "layouts/main",
			Extensions:    []string{".tmpl", ".html"},
			IsDevelopment: s.Config.RenderRecompile,
			Funcs:         []template.FuncMap{appHelpers},
			DisableHTTPErrorRendering: true,
		}),
	}
}
