package app

import (
	"net/http"

	"{{.ImportPath}}/controllers"
)

// InitRoutes initializes the webserver routing and controllers
func (s *State) InitRoutes() {
	// The common state for each route handler
	root := controllers.Root{
		Log:     s.Log,
		Render:  s.Render,
		Session: s.Session,
	}

	// Serve static assets
	s.Router.FileServer("/", http.Dir(s.Config.AssetsOut))

	main := controllers.Main{Root: root}
	s.Router.Get("/", main.Home)
}
