package app

import "{{.ImportPath}}/sessions"

// InitSessions initializes the sessions Overseer
func (s State) InitSessions() {
	// Configure cookie options
	opts := sessions.NewCookieOptions()
	// If not using HTTPS, disable cookie secure flag
	if len(s.Config.TLSBind) == 0 {
		opts.Secure = false
	}

	if s.Config.SessionsDevStorer {
		s.Session = sessions.NewCookieOverseer(opts, []byte("{{randString 32}}"))
	} else {
		storer, err := sessions.NewDefaultDiskStorer("{{randString 8}}")
		if err != nil {
			panic(err)
		}
		storer.StartCleaner()
		s.Session = sessions.NewStorageOverseer(opts, storer)
	}
}
