package app

import (
	"testing"

	"github.com/volatiletech/abcweb/abcconfig"
)

func TestInitSessions(t *testing.T) {
	t.Parallel()

	s := &State{}
	s.AppConfig = &abcconfig.AppConfig{}

	s.AppConfig.SessionsDevStorer = true

	s.InitSessions()
	if s.Session == nil {
		t.Error("expected session overseer to be set")
	}

	s.AppConfig.SessionsDevStorer = false
	s.InitSessions()
	if s.Session == nil {
		t.Error("expected session overseer to be set")
	}
}
