package rendering

import (
	"html/template"

	"{{.ImportPath}}/app"
)

func CustomHelpers(a *app.App) template.FuncMap {
	return template.FuncMap{
		"config": func() interface{} { return a.Config },
	}
}
