package rendering

import (
	"html/template"

	"{{.ImportPath}}/app"
	"github.com/volatiletech/abcweb/v4/abcrender"
	"github.com/unrolled/render"
)

const templatesDir = "templates"

func CustomHelpers(cfg *app.Config) template.FuncMap {
	return template.FuncMap{
		"config": func() interface{} { return cfg },
	}
}

func New(cfg *app.Config, manifest map[string]string) abcrender.Renderer {
	appHelpers := []template.FuncMap{
		abcrender.AppHelpers(manifest),
		CustomHelpers(cfg),
	}

	renderOpts := render.Options{
		Directory:     templatesDir,
		Layout:        "layouts/main",
		Extensions:    []string{".tmpl", ".html"},
		IsDevelopment: cfg.Server.RenderRecompile,
		Funcs:         appHelpers,

		DisableHTTPErrorRendering: true,
	}

	return abcrender.New(renderOpts, manifest)
} 
