package db

import (
	"database/sql"
	"errors"
	
	"github.com/volatiletech/abcweb/abcconfig"
	"github.com/volatiletech/abcweb/abcdatabase"

	// Import your database driver below by uncommenting your relevant driver.
	// _ "github.com/lib/pq"
)

// InitDB initializes the database handle
func InitDB(cfg abcconfig.DBConfig) (*sql.DB, error) {
	var db *sql.DB

	// No username provided is a signal to skip database usage
	if len(cfg.User) == 0 {
		return nil, errors.New("No database user defined in config. Either add one or remove this check.")
	}

	connStr, err := abcdatabase.GetConnStr(cfg)
	if err != nil {
		return nil, err
	}

	db, err = sql.Open(cfg.DB, connStr)
	if err != nil {
		return nil, err
	}

	p := db.Ping()
	if p != nil {
		return nil, p
	}

	return db, nil
}
