package db

import (
	"database/sql"
	
	// mysql driver
	_ "github.com/go-sql-driver/mysql"
	// postgres driver
	_ "github.com/lib/pq"
	"{{.ImportPath}}/config"
)

// DB is the global database handle to your config defined db
var DB *sql.DB

// InitDB initializes the DB global database handle
func InitDB(cfg *config.DBConfig) error {
	// No username provided is a signal to skip database usage
	if len(cfg.User) == 0 {
		return nil
	}

	var err error
	DB, err = sql.Open(cfg.DB, GetConnStr(cfg))
	if err != nil {
		return err
	}

	p := DB.Ping()
	if p != nil {
		return p
	}

	return nil
}
