package controllers

import (
	"os"
	"fmt"
	"testing"

	"github.com/volatiletech/abcweb/abcsessions"
	"github.com/volatiletech/abcweb/abcdatabase"
	"{{.ImportPath}}/app"
	"{{.ImportPath}}/rendering"
	"{{.ImportPath}}/db"
	"go.uber.org/zap"
	"go.uber.org/zap/zapcore"
)

// newRootMock returns a Root struct with all members initialized to
// test compatible mock values
func newRootMock(templatesDir string) Root {
	{{if not .NoSessions -}}
	// Set up the sessions overseer
	opts := abcsessions.NewCookieOptions()
	opts.Secure = false
	mem, err := abcsessions.NewDefaultMemoryStorer()
	if err != nil {
		panic(err)
	}
	{{- end}}

	// Set up zap logger. Use zap.NewNop() if you wish to disable logging.
	zapCfg := zap.NewDevelopmentConfig()
	zapCfg.EncoderConfig.EncodeLevel = zapcore.CapitalColorLevelEncoder
	zapCfg.OutputPaths = []string{"stdout"}
	log, err := zapCfg.Build()
	if err != nil {
		panic(err)
	}

	// Set up the template renderer
	a := app.NewApp()
	a.Config.Server.RenderRecompile = true

	return Root{
		{{if not .NoSessions -}}
		Session: abcsessions.NewStorageOverseer(opts, mem),
		{{- end}}
		Log:     log,
		Render:  rendering.New(a, templatesDir, nil),
	}
}

func TestMain(m *testing.M) {
	var err error
	var count int
	db.DB, count, err = abcdatabase.SetupTestSuite(db.GoTestdata)
	if err != nil {
		fmt.Printf("TestMain setup failed: %s\n", err)
		os.Exit(1)
	}
	fmt.Printf("TestMain Setup ran %d migrations.\n", count)

	r := m.Run()
	os.Exit(r)
}
