package controllers

import (
	"os"
	"fmt"
	"testing"

	"{{.ImportPath}}/config"
	{{if not .NoDB -}}
	"{{.ImportPath}}/db"
	{{- end}}
)

func TestMain(m *testing.M) {
	// Your custom TestMain pre-Run() code goes here

	{{if not .NoDB -}}
	r := testMainMigrations(m)
	{{- else -}}
	r := m.Run()
	{{- end}}

	// Your custom TestMain post-Run() code goes here

	os.Exit(r)
}

{{- if not .NoDB}}
// testMainMigrations executes the database migrations for the test database
// defined in database.toml and executes testdata.sql, then runs the unit tests.
// It returns a status code to be used with os.Exit(). Codes > 0 indicate error.
func testMainMigrations(m *testing.M) int {
	// Load the database config from test env
	v, err := config.NewDBViper("test")
	if err == os.ErrNotExist(err) {
		return 1
	} else if err != nil {
		fmt.Printf("TestMain cannot load database.toml: %s\n", err)
		return 2
	}
	dbCfg := config.LoadDBConfig(v)

	if len(dbCfg.User) == 0 {
		fmt.Println("No user defined in database.toml, skipping database migrations.")
	} else {
		// Execute database migrations
		count, err := db.Setup(dbCfg)
		if err != nil {
			fmt.Printf("TestMain Setup error: %s\n", err)
			return 3
		}

		fmt.Printf("TestMain Setup ran %d migrations.\n", count)
	}

	// Run the package tests
	return m.Run()
}
{{- end}}

func TestNewRootMock(t *testing.T) {
	t.Parallel()

	root := NewRootMock("test")

	if root.Log == nil {
		t.Error("expected logger to be set")
	}
	if root.Render == nil {
		t.Error("expected renderer to be set")
	}
	if root.Session == nil {
		t.Error("expected sessions overseer to be set")
	}
}
