package controllers

import (
	"{{.ImportPath}}/rendering"
	"{{.ImportPath}}/sessions"
	"github.com/uber-go/zap"
)

// Root struct exposes useful variables to every controller route handler.
// If you wanted to pass additional objects to each controller route handler
// you can add them here, and then assign them in app/routes.go where the
// instance of controller is created.
type Root struct {
	Log     zap.Logger
	Render  rendering.Renderer
	Session sessions.Overseer
}

// Main is the controller struct for the main routes (home, about, etc).
// You can add variables to this controller struct to limit their exposure
// to the controller route handlers attached to this controller. 
type Main struct {
	Root
}
