package controllers

import (
	"net/http"

	"{{.ImportPath}}/rendering"
	{{if not .NoSessions -}}
	"{{.ImportPath}}/sessions"
	{{- end}}
	"{{.ImportPath}}/middleware"
	"github.com/uber-go/zap"
)

// Root struct exposes useful variables to every controller route handler.
// If you wanted to pass additional objects to each controller route handler
// you can add them here, and then assign them in app/routes.go where the
// instance of controller is created.
type Root struct {
	Log     zap.Logger
	Render  rendering.Renderer
	{{if not .NoSessions -}}
	Session sessions.Overseer
	{{- end}}
}

// Main is the controller struct for the main routes (home, about, etc).
// You can add variables to this controller struct to limit their exposure
// to the controller route handlers attached to this controller. 
type Main struct {
	Root
}

{{if not .NoRequestID -}}
// Log returns the Request ID scoped logger from the request Context
// and panics if it cannot be found.
// This is a convenience wrapper -- Log() is nicer than middleware.Log()
func Log(r *http.Request) zap.Logger {
	return middleware.Log(r)
}
{{- end}}
