package controllers

import (
	"net/http/httptest"
	"strings"
	"testing"
	"context"

	"{{.ImportPath}}/middleware"
)

func TestMainHome(t *testing.T) {
	t.Parallel()

	// Initialize the Main controller struct with a Root struct mock
	m := Main{
		Root: NewRootMock("../templates"),
	}

	w := httptest.NewRecorder()
	r := httptest.NewRequest("GET", "/", nil)

	{{if not .NoSessions -}}
	// Set the logger on the request context so calls to Log() don't panic
	r = r.WithContext(context.WithValue(r.Context(), middleware.CtxLoggerKey, m.Log))
	{{- end}}

	// Call the controller with the httptest recorder and httptest request
	m.Home(w, r)

	// Ensure we get the contents of main/home.html back
	if !strings.Contains(w.Body.String(), "<span>Hello World!</span>") {
		t.Error("home template not expected value")
	}
}
