package controllers

import "net/http"

// Home page
func (m Main) Home(w http.ResponseWriter, r *http.Request) {
	err := m.Render.HTML(w, http.StatusOK, "main/home", nil)
	if err != nil {
		m.Log.Error(err.Error())
	}
}
