package controllers

{{if not .NoRequestID -}}
import (
	"net/http"
)
{{- else -}}
import "net/http"
{{- end}}

// Home page
func (m Main) Home(w http.ResponseWriter, r *http.Request) {
	err := m.Render.HTML(w, http.StatusOK, "main/home", nil)
	if err != nil {
		{{if not .NoRequestID -}}
		Log(r).Error(err.Error())
		{{- else -}}
		m.Log.Error(err.Error())
		{{- end}}
		m.Render.HTML(w, http.StatusInternalServerError, "errors/500", nil)
	}
}
