# This file represents the configuration used to generate your app.
# It is loaded by some abcweb commands, for example, the "gen config" command.
# This allows your fresh configuration to mimic the correct state of your app.
app-path = '{{.AppPath}}'
import-path = '{{.ImportPath}}'
app-name = '{{.AppName}}'
app-env-name = '{{.AppEnvName}}'
tls-common-name = '{{.TLSCommonName}}'
prod-storer = '{{.ProdStorer}}'
dev-storer = '{{.DevStorer}}'
default-env = '{{.DefaultEnv}}'
bootstrap = '{{.Bootstrap}}'
no-db = {{.NoDB}}
no-bootstrap-js = {{.NoBootstrapJS}}
no-gulp = {{.NoGulp}}
no-font-awesome = {{.NoFontAwesome}}
no-live-reload = {{.NoLiveReload}}
no-tls-certs = {{.NoTLSCerts}}
no-readme = {{.NoReadme}}
no-config = {{.NoConfig}}
no-sessions = {{.NoSessions}}
no-request-id = {{.NoRequestID}}
force-overwrite = {{.ForceOverwrite}}
no-http-redirect = {{.NoHTTPRedirect}}
skip-npm-install = {{.SkipNPMInstall}}
skip-govendor-sync = {{.SkipGovendorSync}}
skip-git-init = {{.SkipGitInit}}
silent = {{.Silent}}
