//+build wireinject 

package main

import (
	"github.com/google/wire"
	"{{.ImportPath}}/app"
	"{{.ImportPath}}/routes"
	"{{.ImportPath}}/rendering"
	"github.com/spf13/pflag"
	"github.com/volatiletech/abcweb/v5/abcmiddleware"
)

func BuildApp(flags *pflag.FlagSet) (*app.App, func(), error) {
	wire.Build(
		wire.Struct(new(app.App), "*"),
		{{if not .NoSessions -}}
		app.NewSessions,
		{{end -}}
		app.NewErrorManager,
		routes.NewRouter,
		rendering.New,
		app.NewRootController,
		app.NewMiddlewares,
		app.NewLogger,
		app.NewManifest,
		app.NewConfig,
	)

	return &app.App{}, func() {}, nil
}
