package middleware

import (
	"context"
	"net/http"
	"testing"

	"go.uber.org/zap"
)

func TestLog(t *testing.T) {
	t.Parallel()

	ctx := context.Background()
	ctx = context.WithValue(ctx, CtxLogLookup, zap.New(zap.NewTextEncoder()))
	r := &http.Request{}
	r = r.WithContext(ctx)

	_ = Log(r)
}
