<!DOCTYPE HTML>
<html>

<head>
   <title>Title</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="stylesheet" href="/assets/css/main.css" />
</head>

<body>
   Hello World!
</body>

</html>
